<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Add A New Post", "AddPost", "Home")</li>
    <li>@Html.ActionLink("Add A New Author", "AddAuthor", "Home")</li>
    <li>@Html.ActionLink("Search", "Search", "Home")</li>
</ul>
