@model BlogSingleton.Models.HomeIndexVM
<br /><div class="panel panel-default">
    <div class="panel-body">
        <div style="text-align:center">
            <h1>The Art of Manliness Blog</h1>
        </div>
    </div>
</div>
<table class="table table-condensed table-striped table-responsive table-hover">
    <tr><th>Date</th><th>Title</th><th></th></tr>
    @foreach (var post in Model.BlogPosts)
    {
        <tr onclick="location.href='/Home/Details/@post.ID'">
            <td>@post.Date.ToShortDateString()</td>
            <td>@post.Title</td>
            <td>@post.Post.Substring(0,70) ...</td>
        </tr>
    }
</table>