@model BlogSingleton.Models.HomeIndexVM
<br /><div class="panel panel-default">
    <div class="panel-body">
        <div style="text-align:center">
            <h1>Welcome to the Art of Manliness Blog! This blog will help you act like a man, whether it's upgrading your style, acting more like a man and reviving chivalry, or fulfilling your animal side of loving to eat food and finding the best places to eat! Enjoy! And Stay Classy!</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Featured Post</h2>
                <h3>@Model.FeaturedPost.Title</h3>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>List of Blog Posts</h2>
            </div>
        </div>
    </div>
</div>
